.header {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}

.form {
  display: flex;
  gap: 5px;
}

.form input {
  outline: none;
  padding: 6px 12px;
  width: 320px;
  border: 1px solid lightgray;
  border-radius: 4px;
  caret-color: lightgray;
}

.form input:hover,
.form input:focus {
  box-shadow: 5px 3px 10px rgb(235, 235, 235);
}

.form input::placeholder {
  opacity: 0.5;
  padding-left: 5px;
}

.form button {
  display: flex;
  align-items: center;
  border: none;
  padding: 4px;
  width: 32px;
  height: 32px;
  color: lightgray;
  background-color: inherit;
}

.form svg:hover {
  color: rgb(199, 199, 199);
}
